<h1>
  Example 1: Sharing data from child to parent via @Output decorator and
  EventEmitter.
</h1>
<p><app-parent></app-parent></p>

<li><a routerLink="/customers">Customers</a></li>
<li><a routerLink="/new-component">New Component</a></li>

<router-outlet></router-outlet>
